@if (appPermitsActive() && renderHtml) {
  <app-mywatchers
    class="elementsActive"
    [filledAddresses]="getFilledAddresses()"
    [renderHtml]="renderHtml"
  ></app-mywatchers>
}

@if (appWatchersActive() && renderHtml) {
  <app-watchers
    class="elementsActive"
    [renderHtml]="renderHtml"
  ></app-watchers>
}

@if (appChainPerformanceActive() && renderHtml) {
  <app-chain-performance
    class="elementsActive"
    [renderHtml]="renderHtml"
  ></app-chain-performance>
}

@if (appPerformanceActive() && renderHtml) {
  <app-performance-chart
    class="elementsActive"
    [renderHtml]="renderHtml"
    [period]="period"
    [chartTitle]="chartTitle"
    [period]="period"
    [filledAddresses]="getFilledAddresses()"
    [chartColor]="chartColor"
    [accentChartColor]="accentChartColor"
  ></app-performance-chart>
}

@if (appStatisticsActive() && renderHtml) {
  <app-statistics-chart
    class="elementsActive"
    [renderHtml]="renderHtml"
    [period]="period"
    [chartTitle]="chartTitle"
    [period]="period"
    [filledAddresses]="getFilledAddresses()"
    [chartColor]="chartColor"
    [accentChartColor]="accentChartColor"
  ></app-statistics-chart>
}
