.chartcontainer.performancechart {
  height: 75% !important;
}


.chartcontainer {
  justify-content: center;
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  height: 60%;
}


.chart-container,
.chart-container canvas,
app-reward-chart,
app-performance-chart {
  width: 100% !important;
  height: 100% !important;
}