.performancecontainer {
  height: 75% !important;
  display: flex;
  flex-direction: column;
}


.chartcontainer {
  justify-content: center;
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  height: 60%;
}



.performancecontainer .chartcontainer{
  flex:1;
}

.chart-container,
.chart-container canvas,
app-reward-chart,
app-performance-chart {
  width: 100% !important;
  height: 100% !important;
}

.performancelegend{
  width:30vh;
}


.performance-chart-address{
  display: inline-block;
  margin-left: .4vh;
}

.chart-legend{
  height:2vh;
  width:4vh;
  float:left;
  margin-top:.25vh;
  
}