.header {
  font-size: 4vh;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1s ease-in-out forwards;

  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  background: rgba(138, 128, 128);
}

.headerblock {
  font-size: 3vh;
  text-align: center;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1s ease-in-out forwards;
  width: 40vh;
  justify-content: center;
  background: rgba(238, 228, 218);
  border-radius: 1vh;
}

.headerblockfixed {
  text-align: center;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1s ease-in-out forwards;
  width: 300px;
  justify-content: center;
  padding: 4px;
  background: rgba(238, 228, 218);
  border-radius: 1vh;
}

.headercontainer {
  justify-content: center;
  display: flex;
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 98vw;
}
