.navbuttons.menu {
  right: 5vw;
  justify-content: right;
}

.fa-bars {
  font-size: 3.5vh;

  transition: color 0.3s ease;
}

.fa-bars:hover {
}

.fa-eye,
.fa-chart-bar,
.fa-btc {
  font-size: 3.5vh;

  transition: color 0.3s ease;
}

.fa-eye:hover,
.fa-chart-bar:hover,
.fa-btc:hover {
}

.navbar a {
}

.navbar {
  width: 100%;
  left: 0 !important;

  position: fixed;
  bottom: 3vmin;
  height: 7vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.8vh;

  grid-template-columns: auto auto;
  z-index: 10000;

  display: flex;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
}

.navbar > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0.8vh;
}

.nav-icon a {
  text-decoration: none;
  color: inherit;
}

.icon-text .fa-eye {
}

.navbuttons {
  flex: 0 0 auto;
}

.navbuttons,
.navbuttons a {
  color: white;
  background-color: rgba(138, 128, 128);
  width: 100%;
  height: 100%;
}

.navbuttons.active,
.navbuttons.active a {
  background-color: white;
  color: rgba(138, 128, 128);
}

.navbuttons.active:hover,
.navbuttons.active a:hover {
  background-color: white;
  color: rgba(138, 128, 128);
}

.navbuttons:hover,
.navbuttons a:hover {
  color: white;
  background-color: rgba(138, 128, 128, 0.5);
}

.prevPage {
  position: fixed;
  bottom: 0vh;
  left: 5vw;
  justify-content: left;
  width: 40vh;
  height: 5vh;
  font-size: 3vh;
  display: grid;
}
