
.navbuttons.right {
  right:5vw;
  justify-content: right;
  
}
.navbuttons.left {
  left:5vw;
  justify-content: left;
  
}

.navbuttons {
  position: fixed;
  bottom: 1vmin;
  height: 5vmin;
  font-size:5vmin;
  display: grid;
  gap: 2vh;
  grid-template-columns: auto auto; 
  z-index: 10000;
}



.prevPage {
  position: fixed;
  bottom: 0vh;
  left:5vw;
  justify-content: left;
  width: 40vh;
  height: 5vh;
  font-size:3vh;
  display: grid;
}

