body {
  padding: 0;
  margin: 0px !important;
}

body,
html {
}

h1 {
  color: #333;
  font-size: 3vh;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3vh;
}

li:last-child {
  margin-bottom: 0;
}

.addressescontainer,
.linkcontainer {
  margin-left: 5vw;
}

.addressescontainer {
  width: 95vw;
}

.addressescontainer,
.linkcontainer,
.watcherscontainer {
  font-size: 2vh;
  font-weight: bold;
  color: rgba(138, 128, 128);
  animation: fadeIn 1s ease-in-out forwards;
  flex-wrap: wrap;
}

.watcherscontainer {
  margin-left: 5vw;
  margin-right: 5vw;
}

.linkcontainer {
  display: inline-flex;
}

.addressescontainer {
  display: inline-flex;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.permitstitle {
  font-weight: bold;
  color: rgba(138, 128, 128);
  font-size: 5vh;
  padding-top: 5vh;
}

.permitscontainer {
  font-weight: bold;
  color: rgba(138, 128, 128);
  padding-top: 2vh;
  font-size: 16px;
}

.watcherscreen {
  margin-left: 5vw;
  margin-right: 5vw;
}

.permitscontainer .address {
  font-family: 'Courier New', Courier, monospace;
}

.permitscontainer {
  grid-template-columns: auto auto auto;
}

.watchergrid {
  border: none;
  border-radius: 5px;
  display: grid;
  background-color: transparent;
  grid-column-gap: 10px;
}

.watcheritem {
  background-color: transparent;
  border: 0px dotted rgba(138, 128, 128);
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: left;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(138, 128, 128);
}

.watcheritem.link a {
  color: rgba(80, 70, 70) !important;
}

.watcheritem.first-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#homelink {
  margin: -2px;
}

.linkicon div {
  padding-bottom: 10px;
  font-size: 3vh;
}

.link {
  margin-top: 0.5vh;
  white-space: nowrap;
}

.container {
  margin-bottom: 20px;
}

.watcherheader {
  margin-bottom: 1vh;
  width: 25vmax;
}

.statdetaildispl,
.mainaddressdispl,
.watchersdispl {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.mainaddressdispl {
  height: 2.5vh;
  padding-left: 2.7vh;
}

.watchersdispl {
  padding-left: 5vmax;
  filter: brightness(0.8);
}

.watcherscontainer {
  font-size: 2vmax;
  margin-top: 4vh;
  float: left;
  border-radius: 3vmax;
  border: 0.2vmax dashed rgba(138, 128, 128);
  padding: 2vmax;
}

.watchersmaincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}
.statdetaildispl.Bitcoin,
.mainaddressdispl.Bitcoin,
.watchersdispl.Bitcoin {
  background-image: url('./assets/images/bitcoin.png');
  filter: brightness(0.8);
}

.statdetaildispl.Cardano,
.mainaddressdispl.Cardano,
.watchersdispl.Cardano {
  background-image: url('./assets/images/cardano.png');
  filter: brightness(0.8);
}

.statdetaildispl.Ergo,
.mainaddressdispl.Ergo,
.watchersdispl.Ergo {
  background-image: url('./assets/images/ergo.png');
  filter: brightness(0.8);
}

.statdetaildispl.Ethereum,
.mainaddressdispl.Ethereum,
.watchersdispl.Ethereum {
  background-image: url('./assets/images/ethereum.png');
  filter: brightness(0.8);
}

.noAddresses {
  color: green;
  font-size: 3vh;
}

.custom-snackbar {
  color: white;
  background-color: red;
}

@keyframes l34 {
  50%,
  100% {
    transform: translate(var(--d, 0)) rotate(0.5turn);
  }
}

.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  --_g: no-repeat radial-gradient(farthest-side, #8a8080 94%, #0000);
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: 25% 100%;
  animation: l34 1s infinite;
  transform: translate(var(--d, 0)) rotate(0);
}

.loader:after {
  --d: 37.5%;
  animation-delay: 0.5s;
}

.loader {
  width: 2vw;
  aspect-ratio: 4;
  display: grid;
}

.loaderlogs {
  bottom: 3%;
  width: 100vw;
  font-size: 2.5vmin;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgba(178, 168, 168);

  text-align: center;
}

.loader,
.loaderlogs {
  position: absolute;
}

.log-entry {
  white-space: nowrap;
}

.loaderlogs::before,
.loaderlogs::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 20%;
  pointer-events: none;
  z-index: 1;
}

.loaderlogs::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.loaderlogs::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.loaderlogs-content {
  position: relative;
  z-index: 0;
}

.qrdialog {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(247, 247, 247, 0.7);

  z-index: 20000;
  display: flex;
  justify-content: center;
}

.qrdialog #close {
  top: 3vh;
  right: 3vh;
  position: fixed;
}

.qrdialog button {
  bottom: 3vh;

  position: fixed;
}

.qrdialog #close div {
  font-size: 5vh;
}

qrcode {
  padding-top: 20vh;
}

button {
  background: linear-gradient(135deg, #4a4a4a, #787878);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

button:hover {
  background: linear-gradient(135deg, #787878, #4a4a4a);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  background: linear-gradient(135deg, #3a3a3a, #585858);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.version {
  color: rgba(138, 128, 128);
  font-size: 2vh;
  padding: 1vh;
  padding: 1vh 2vh;
  padding-left: 4vh;
  text-decoration: none;
  height: 2vh;
  display: inline-block;
}
