body {
  padding: 0;
  margin: 0px !important;
}

body,
html {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

h1 {
  color: #333;
  font-size: 3vh;
  font-weight: bold;

}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 3px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3vh;
}

li:last-child {
  margin-bottom: 0;
}

.addressescontainer,
.linkcontainer {

  margin-left: 5vw;
  padding: 3px;
  font-size: 2vh;
  font-weight: bold;
  color: rgba(138, 128, 128);
  animation: fadeIn 1s ease-in-out forwards;
  flex-wrap: wrap;
}

.linkcontainer{
  display: inline-flex;
}

.addressescontainer{
  display: flex;
}

.permitstitle {
  font-weight: bold;
  color: rgba(138, 128, 128);
  font-size: 5vh;
  padding-top: 5vh;
}

.permitscontainer {

  font-weight: bold;
  color: rgba(138, 128, 128);
  padding-top: 2vh;
  font-size: 16px;
}

.watcherscreen {
  margin-left: 5vw;
  margin-right: 5vw;
}

.permitscontainer .address {
  font-family: 'Courier New', Courier, monospace;

}

.permitscontainer {
  grid-template-columns: auto auto auto;
}

.watchergrid {
  border: none;
  border-radius: 5px;
  display: grid;
  background-color: transparent;
  grid-column-gap: 10px;
}

.watcheritem {
  background-color: transparent;
  border: 0px dotted rgba(138, 128, 128);
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: left;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(138, 128, 128);
}

.watcheritem.link a {
  color: rgba(80, 70, 70) !important;
}


.watcheritem.first-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#homelink {
  margin: -2px;
}


.linkicon div {
  padding-bottom: 10px;
  font-size: 3vh;
}


.link {
  margin-top: .5vh;
  white-space: nowrap;
}

.container {
  margin-bottom: 20px;
}



.addressdisplay {
  font-family: 'Courier New', Courier, monospace;
}

.noAddresses {
  color: green;
  font-size: 3vh;
}



.custom-snackbar {
  color: white;
  background-color: red;
}


@keyframes l34 {

  50%,
  100% {
    transform: translate(var(--d, 0)) rotate(.5turn)
  }
}