.header{
  width:17rem;
  
  margin-left: 16rem;
    margin-top: 2rem;
    text-align: left;
}

.headerblock {
  font-size: 2rem;
  
  text-align: center;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1s ease-in-out forwards;
  width: 98.8vw;
  justify-content: center;
  background: transparent;
  border-radius: 1vh;

  
  justify-content: center; /* horizontal center */
  align-items: center;    
  width: 100vw;

}

.headerbox{
      
    width: var(--leftmenu-width);
    height: 100vh;
    background-size: var(--leftmenu-width);
    clear: none;
    background-position-y: 2rem;
    background-image: url('./assets/images/antichess_king.png');
    background-repeat: no-repeat;
    padding-top: rem;
    position:fixed;
    background-color: rgb(249, 249, 249);
    top: 0rem;
    
}

.headertext {
  font-size: 2rem;
  
  text-align: center;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1s ease-in-out forwards;
  width: 98.8vw;
  justify-content: center;
  background: transparent;
  border-radius: 1vh;
  padding-left: 2rem;
  
}

.headercontainer {
  
  
  padding-left: .1vw;
  padding-right: 1vw;
  
  
  width: 98vw;
  
  background-image: url('./assets/images/antichess_king.png');
  background-size: 0;
  background-repeat: no-repeat;
}



.antichess header {
    padding-top: 0px !important;
}