.header{
  width:17rem;
  background: #ccc;
  border: 5px solid #ccc;           /* nice subtle border */
    border-radius: 0 0 12px 12px;     /* TL TR BR BL */
    margin-left:15vw;
}

.headerblock {
  font-size: 2rem;
  
  text-align: center;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1s ease-in-out forwards;
  width: 98.8vw;
  justify-content: center;
  background: transparent;
  border-radius: 1vh;

  
  justify-content: center; /* horizontal center */
  align-items: center;    
  width: 100vw;

}

.headerbox{
      
    width: 20vw;
    height: 100vh;
    background-size: 20vw;
    clear: none;
    background-position-y: 4rem;
    background-image: url('./assets/images/antichess_king.png');
    background-repeat: no-repeat;
    padding-top: 4rem;
    
}

.headertext {
  font-size: 2rem;
  
  text-align: center;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1s ease-in-out forwards;
  width: 98.8vw;
  justify-content: center;
  background: transparent;
  border-radius: 1vh;
  padding-left: 2rem;
  
}

.headercontainer {
  
  position: fixed;
  
  padding-left: .1vw;
  padding-right: 1vw;
  
  
  width: 98vw;
  
  z-index: 200;
  background-image: url('./assets/images/antichess_king.png');
  background-size: 0;
  background-repeat: no-repeat;
}



.antichess header {
    padding-top: 0px !important;
}