<app-watchers
  *ngIf="appWatchersActive() && renderHtml"
  class="elementsActive"
  [renderHtml]="renderHtml"
></app-watchers>

<app-chain-performance
  *ngIf="appChainPerformanceActive() && renderHtml"
  class="elementsActive"
  [renderHtml]="renderHtml"
></app-chain-performance>

<app-statistics-chart
  *ngIf="appStatisticsActive() && renderHtml"
  class="elementsActive"
  [renderHtml]="renderHtml"
  [period]="period"
  [chartTitle]="chartTitle"
  [period]="period"
  [filledAddresses]="getFilledAddresses()"
  [chartColor]="chartColor"
  [accentChartColor]="accentChartColor"
></app-statistics-chart>
