<app-mywatchers
  *ngIf="appPermitsActive() && renderHtml"
  class="elementsActive"
  [filledAddresses]="getFilledAddresses()"
  [renderHtml]="renderHtml"
></app-mywatchers>

<app-watchers
  *ngIf="appWatchersActive() && renderHtml"
  class="elementsActive"
  [renderHtml]="renderHtml"
></app-watchers>

<app-chain-performance
  *ngIf="appChainPerformanceActive() && renderHtml"
  class="elementsActive"
  [renderHtml]="renderHtml"
></app-chain-performance>

<app-performance-chart
  *ngIf="appPerformanceActive() && renderHtml"
  class="elementsActive"
  [renderHtml]="renderHtml"
  [period]="period"
  [chartTitle]="chartTitle"
  [period]="period"
  [filledAddresses]="getFilledAddresses()"
  [chartColor]="chartColor"
  [accentChartColor]="accentChartColor"
></app-performance-chart>

<app-statistics-chart
  *ngIf="appStatisticsActive() && renderHtml"
  class="elementsActive"
  [renderHtml]="renderHtml"
  [period]="period"
  [chartTitle]="chartTitle"
  [period]="period"
  [filledAddresses]="getFilledAddresses()"
  [chartColor]="chartColor"
  [accentChartColor]="accentChartColor"
></app-statistics-chart>
