@if (isHtmlRenderEnabled() ? !isElementsActive : false) {
<div class="headercontainer">
  <div class="headerblock">
    Number of chains:
    <div class="header">{{ chains.length }}</div>
  </div>
</div>
} @if (isHtmlRenderEnabled()) {
<div class="watchersmaincontainer main-content">
  <div class="watcherstab">
    @if (!isElementsActive) {
    <a tabindex="0" class="tab" [class.active]="false" (click)="selectTab('watchers')"
      (keypress)="selectTab('watchers')">
      Watchers
    </a>
    <a tabindex="0" class="tab" [class.active]="false" (click)="selectTab('mywatchers')"
      (keypress)="selectTab('mywatchers')">
      My watchers
    </a>
    <a tabindex="0" class="tab" [class.active]="true">Performance</a>
    }


  </div>
*** coming soon ***
  <!--
  <br />
  <div class="chain" *ngIf="chains?.length">
    <label for="chainSelect">Chain:</label>
    <select id="chainSelect" [(ngModel)]="selectedChain" (change)="onChainChange()">
      <option *ngFor="let chain of chains" [value]="chain">{{ chain }}</option>
    </select>
  </div>




  <div class="watcherscontainer performance">


    <div class="watcherheader first"></div>
    <div class="watcherheader">Address</div>
    <div class="watcherheader">Permits</div>

    @for (stat of watcherPerformanceStats; track stat) {

      <div class="watchersdispl" ></div>
    <div >
      {{ stat.address?.address }}
    </div>

    <div>
      {{ stat.reports }}
    </div>


    }

    

  </div>
-->

</div>
}
<div class="watchers-readme watchersmaincontainer">
  Want this on your own page? Check
  <a href="https://pwa-pages.github.io/rosen-watcher-storybook/">Documentation and code examples</a>
  <br />
</div>