@if (downloads > 0) {
<div class="progress-bar">
  <div class="progress-bar-value"></div>
</div>
} @if (showLogging()) {
<div class="logging">
  @for (log of logLines; track log) {
  <div class="log">{{ log }}</div>
  }
</div>
} @if (isVisible()) {
<div class="navbar">
  <div [ngClass]="{ 'navbuttons': true, 'active': IsMainActive() }">
    <a tabindex="0" (click)="navMain()" (keypress)="navMain()">
      <div class="nav-icon">
        <div class="fas fa-home"></div>
        <div>Main</div>
      </div>
    </a>
  </div>
  <div [ngClass]="{ 'navbuttons': true, 'active': isEventsActive() }">
    <a tabindex="0" (click)="navEvents()" (keypress)="navEvents()">
      <div class="nav-icon">
        <div class="fas fa-calendar"></div>
        <div>Events</div>
      </div>
    </a>
  </div>
  <div [ngClass]="{ 'navbuttons': true, 'active': isAntichessActive() }">
    <a tabindex="0" (click)="navAntichess()" (keypress)="navAntichess()">
      <div class="nav-icon">
        <div class="fas fa-graduation-cap"></div>
        <div>Academy</div>
      </div>
    </a>
  </div>
  <div [ngClass]="{ 'navbuttons': true, 'active': isPlayersActive() }">
    <a tabindex="0" (click)="navPlayers()" (keypress)="navPlayers()">
      <div class="nav-icon">
        <div class="fas fa-user-group"></div>
        <div>Players</div>
      </div>
    </a>
  </div>
</div>
}
