@if (isHtmlRenderEnabled() ? !isElementsActive : false) {
<div class="headercontainer">
  <div class="headerblock">
    Performance&nbsp;
    <div class="header">Compare chains</div>
  </div>
</div>
}

<div
  [ngClass]="{  'performancecontainer': true,  'main-content': true,    'elementsActive': isElementsActive}"
>
  @if (!isElementsActive) {
  <div class="performancetab">
    <a
      tabindex="0"
      class="tab"
      [class.active]="false"
      (click)="selectTab()"
      (keypress)="selectTab()"
    >
      My watchers
    </a>
    <a tabindex="0" class="tab" [class.active]="true">Compare chains</a>
  </div>
  } @if (!isElementsActive) {
  <div class="info-description">
    Avarage earnings in RSN per chain type over the last week for a single watcher.
  </div>
  } @if (isHtmlRenderEnabled()) {
  <div class="addressescontainer">
    @for (address of performanceCharts; track address; let i = $index; let isLast = $last) {
    <div class="performancelegend">
      <div class="chart-legend" [style.background-color]="address.color"></div>
      <div class="performance-chart-address mainaddressdispl {{address.chainType}}">
        - {{ address.chainType }}
      </div>
      @if (!isLast) {
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      }
    </div>
    }
  </div>
  }

  <div class="chartcontainer" [style.display]="isHtmlRenderEnabled() ? null : 'none'">
    <div class="chart-container">
      <canvas #chartCanvas class="PerformanceChart"></canvas>
    </div>
  </div>
</div>
