<div class="progress-bar" *ngIf="downloading">
  <div class="progress-bar-value"></div>
</div>

<div class="logging" *ngIf="showLogging()">
  <div
    class="log" 
    *ngFor="let log of logLines;"
  >
  {{ log }}
  </div>
</div>

<div class="navbar" *ngIf="isVisible()">
  <div [ngClass]="{ 'navbuttons': true, 'active': isStatisticsActive() }">
    <a tabindex="0" (click)="navRewards()" (keypress)="navRewards()">
      <div class="nav-icon">
        <div class="fa-brands fa-btc"></div>
        <div>Rewards</div>
      </div>
    </a>
  </div>

  <div [ngClass]="{ 'navbuttons': true, 'active': isPerformanceActive() }">
    <a tabindex="0" (click)="navPerformance()" (keypress)="navPerformance()">
      <div class="nav-icon">
        <div class="fas fa-chart-bar"></div>
        <div>Performance</div>
      </div>
    </a>
  </div>

  <div [ngClass]="{ 'navbuttons': true, 'active': isWatchersActive() }">
    <a tabindex="0" (click)="navWatchers()" (keypress)="navWatchers()">
      <div class="nav-icon">
        <div class="fas fa-eye"></div>
        <div>Watchers</div>
      </div>
    </a>
  </div>


</div>
