
<div class="headercontainer">
    <div class="headerblock">
        Performance&nbsp;
        <div class="header">RSN per week</div>
    </div>
</div>



<div class="chartcontainer performancechart">

    <div class="chart-container">
        <canvas  id="PerformanceChart" ></canvas>
    </div>
</div>



<span class="loader" *ngIf="busyCounter > 0"></span>

<div class="navbuttons">
    <div>
    <a routerLink="/main" routerLinkActive="active">
        Total Rewards&nbsp;<span class="fas fa-arrow-left"></span>
    </a>
</div>
<div *ngIf="showPermitsLink" >
    <a routerLink="/permits" routerLinkActive="active">
        Permits&nbsp;&nbsp;<span class="fas fa-arrow-down"></span>
    </a>
    </div>

</div>
