@if (appWatchersActive()) {
  <app-watchers
    class="elementsActive"
    [renderHtml]="renderHtml"
    [ngStyle]="{ display: renderHtml ? null : 'none' }"
  ></app-watchers>
}
@if (appChainPerformanceActive()) {
  <app-chain-performance
    class="elementsActive"
    [renderHtml]="renderHtml"
    [ngStyle]="{ display: renderHtml ? null : 'none' }"
  ></app-chain-performance>
}

@if (appStatisticsActive()) {
  <app-statistics-chart
    class="elementsActive"
    [renderHtml]="renderHtml"
    [ngStyle]="{ display: renderHtml ? null : 'none' }"
    [filledAddresses]="getFilledAddresses()"
  ></app-statistics-chart>
}
