


<div class="headercontainer">
    <div class="headerblock">
        Total rewards:
        <div class="header">{{data}} RSN </div>
    </div>
</div>



<div class="addressescontainer noAddresses" *ngIf="noAddresses">
    You don't have any watcher addresses yet, click on modify below to add addresses.
</div>



<div class="chartcontainer">
    <app-reward-chart [chartData]="rewardsChart"></app-reward-chart>
</div>


<div class="addressescontainer">
    Addresses:&nbsp;
    <span class="addressdispl" *ngFor="let address of addressesForDisplay; let i = index; last as isLast">[{{ address
        }}]<span *ngIf="!isLast">,&nbsp;&nbsp;</span> </span>

</div>


<div class="settingslinkcontainer">

    <div class="settingsedit">
        <a routerLink="/settings" routerLinkActive="active">
            <div class="fas fa-edit"></div>
        </a>
    </div>

    <div class="settingsmodify">
        <a routerLink="/settings" routerLinkActive="active">
            Modify addresses
        </a>
    </div> 

</div>

<span class="loader" *ngIf="busyCounter > 0"></span>

<div class="navbuttons" *ngIf="busyCounter == 0 && !noAddresses">
    <div>
    <a routerLink="/performance" routerLinkActive="active">
        Performance&nbsp;<span class="fas fa-arrow-up"></span>
    </a>
</div>

<div *ngIf="showPermitsLink" >
    <a routerLink="/permits" routerLinkActive="active">
        Permits&nbsp;&nbsp;<span class="fas fa-arrow-right"></span>
    </a>
    </div>

</div>
