@if (isHtmlRenderEnabled() ? !isElementsActive : false) {
<div class="headercontainer">
  <div class="headerblock">
    Number of watchers:
    <div class="header">{{ watchersStats.totalWatcherCount }}</div>
  </div>
</div>
} @if (isHtmlRenderEnabled()) {
<div class="watchersmaincontainer main-content">
  <div class="watcherstab">
    @if (!isElementsActive) {
    <a tabindex="0" class="tab" [class.active]="true">All watchers</a>
    <a
      tabindex="0"
      class="tab"
      [class.active]="false"
      (click)="selectTab()"
      (keypress)="selectTab()"
    >
      My watchers
    </a>
    }

    <div class="currency">
      <label for="currencySelect">Currency:</label>
      <select id="currencySelect" [(ngModel)]="selectedCurrency" (change)="onCurrencyChange()">
        <option value="EUR">Euro</option>
        <option value="USD">US Dollar</option>
        <option value="ERG">Ergo</option>
        <option value="RSN">Rosen</option>
      </select>
    </div>
  </div>

  <div class="watcherscontainer">
    <div class="watchervaluerow collateralvalues">
      Watcher collateral: {{watchersStats.watcherCollateralRSN | number: '1.0-0'}} RSN +
      {{watchersStats.watcherCollateralERG}} ERG = {{getWatcherAmounts().watcherValue | number:
      '1.0-0'}} {{this.selectedCurrency}}
      <br />
      Permit value: {{watchersStats.permitCost | number: '1.0-0'}} RSN =
      {{getWatcherAmounts().permitValue | number: '1.0-0'}} {{this.selectedCurrency}}
    </div>
    <div class="watcherheader first"></div>
    <div class="watcherheader">Chain</div>
    <div class="watcherheader">Watchers</div>
    <div class="watcherheader">Permits (Active)</div>
    <div class="watcherheader">Locked RSN</div>
    <div class="watcherheader">Locked ERG</div>
    @for (chainType of getChainTypes(); track chainType) {
    <div class="{{ chainType }} watchersdispl"></div>
    <div>{{ chainType }}</div>
    @if (isChainTypeActive(chainType)) {

    <div>{{ watchersStats.chainWatcherCount[chainType] }}</div>
    <div>
      {{ watchersStats.chainPermitCount[chainType] }} ({{ watchersStats.activePermitCount[chainType]
      }})
    </div>
    <div>{{ watchersStats.chainLockedRSN[chainType] | number: '1.0-0' }}</div>
    <div>{{ watchersStats.chainLockedERG[chainType] | number: '1.0-0' }}</div>
    } @else {

    <div class="upcomingwatcher">Upcoming...</div>
    <div class="upcomingwatcher">-</div>
    <div class="upcomingwatcher">-</div>
    <div class="upcomingwatcher">-</div>
    } }
    <div class="watchersdispl"></div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div></div>
    <div></div>
    <div></div>
    <div class="watchersdispl"></div>
    <div>Total</div>
    <div>{{watchersStats.totalWatcherCount}}</div>
    <div>{{watchersStats.totalPermitCount}} ({{watchersStats.totalActivePermitCount}})</div>
    <div>{{watchersStats.totalLockedRSN | number: '1.0-0'}}</div>
    <div>{{watchersStats.totalLockedERG | number: '1.0-0'}}</div>
    <div class="watchersdispl">&nbsp;</div>
    <div class="fivecolumns">&nbsp;</div>
    <div class="watchersdispl"></div>
    <div class="fivecolumns">
      Total locked: {{getWatcherAmounts().totalLocked | number: '1.0-0'}} {{this.selectedCurrency}}
      (permits + collateral)
    </div>
  </div>
</div>
}
<div class="watchers-readme watchersmaincontainer">
  Want this on your own page? Check
  <a href="https://pwa-pages.github.io/rosen-watcher-storybook/">Documentation and code examples</a>
  <br />
</div>
