@use '@angular/material' as mat;
@use 'styles_theme-colors.scss' as custom;

html {
  @include mat.theme(
    (
      color: (
        primary: custom.$primary-palette,
        tertiary: custom.$tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
