<div class="amountcontainer">
    <div class="amountblock">
        xxx Total rewards:
        <div class="amount">{{data}} RSN</div>



    </div>

</div>
<div class="chartcontainer">
    <app-reward-chart [chartData]="rewardsChart"></app-reward-chart>
</div>


<div class="addressescontainer">
    
        Addresses:&nbsp;
        <span *ngFor="let address of addressesForDisplay; let i = index; last as isLast">[{{ address }}]<span *ngIf="!isLast">,&nbsp;&nbsp;&nbsp;</span> </span>
    




</div>


<div class="addressescontainer">
<div class="addressedit">
    <a routerLink="/settings" routerLinkActive="active">
        <div class="fas fa-edit"></div>
        
    
    </a>

</div>

<div class="address" id="addressmodify">
    <a routerLink="/settings" routerLinkActive="active">
        Modify
        
    
    </a>
    
</div>
</div>