body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .amount {
    font-size: 4vw; 
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
    width: 100%;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }