
.swipeleft {
  transform: translate(-110vw, 0vw);
  transition: transform 0.25s ease-in;
}

.swipeleftin {
  transform: translate(-100vw, 0vw);
  transition: transform 0.25s ease-in;
}

.swipeup {
  transform: translate(0vh, -110vh);
  transition: transform 0.25s ease-in;
}

.swipeupin {
  transform: translate(0vh, -100vh);
  transition: transform 0.25s ease-in;
}

.swiperight {
  transform: translate(110vw, 0vw);
  transition: transform 0.25s ease-in;
}

.swiperightin {
  transform: translate(100vw, 0vw);
  transition: transform 0.25s ease-in;
}

.swipedown {
  transform: translate(0vw, 110vh);
  transition: transform 0.25s ease-in;
}

.swipedownin {
  transform: translate(0vw, 100vh);
  transition: transform 0.25s ease-in;
}
