<div class="headercontainer permits">
  <div class="headerblockfixed {">Permit locks</div>
</div>

<div class="watcherscreen">
  <div class="permitscontainer watchergrid">
    <div class="watcheritem">Address</div>
    <div class="watcheritem">Network</div>
    <div class="watcheritem">Available / Total reports</div>
    <ng-container *ngFor="let address of addresses; let i = index; last as isLast">
      <div class="watcheritem">
        <span class="address">{{address.addressForDisplay}}</span>
        <span *ngIf="!isLast"><br /></span>
      </div>
      <div class="watcheritem">{{address.network}}</div>
      <div class="watcheritem link">
        <a href="{{address.watcherUrl}}">{{address.permitLocks}}</a>
      </div>
    </ng-container>
  </div>

  <div class="prevPage">
    <a routerLink="/main" routerLinkActive="active">
      <span class="fas fa-arrow-left"></span>
      &nbsp;&nbsp;Statistics
    </a>
  </div>
</div>
